@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primary:#000080;
}

body{
    background-image: url('https://imgs.search.brave.com/jnwZP_0xdutt5GWhU9EP0GdYjRyoLsLYrBF7XEtVaoY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9ncnVuZ2UtYmFj/a2dyb3VuZC13aXRo/LXNwYWNlLXRleHQt/aW1hZ2VfMTk2MDM4/LTE0NjY1LmpwZz9z/ZW10PWFpc19oeWJy/aWQ');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #343A40;
    margin: 3rem;
}
h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color:var(--primary);
}
.bids{
   color:#10b981;
    font-weight: bold;
    font-size: 1.5rem;
}
.asks{
    color:#ef4444;
    font-weight: bold;
    font-size: 1.5rem;
}
.container{

    padding: 2rem;
}
.head{
    color:var(--primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.orderbook {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
}
.increase {
  background-color: rgba(0, 255, 0, 0.2); /* Light green */
}

.decrease {
  background-color: rgba(255, 0, 0, 0.2); /* Light red */
}

@media (max-width: 768px) {
    .orderbook {
        grid-template-columns: 1fr; /* Change to one column */
    }
    body{
        margin: 0;
    }
}
@media (min-width: 1200px) {
    .orderbook {
        grid-template-columns: repeat(3, 1fr);
    }
}